html, body{
    margin: 0;
    padding: 0;
    height: 100%;
}
.left{
    width: 25%;
    float: left;
}
.right{
    width: 75%;
    height: 100%;
    float: right;
}
.content{
    width: 85%;
    height: 50%;
    display: block;
    margin: 0px auto;
    text-align: center;
    border: 2px solid rgb(218, 215, 215);
    border-radius: 50px 0px 0px 0px;
}
.content img {
    width: 99%;
    height: 65%;
    border-radius: 50px 0px 0px 0px;
}
.content p{
    height: 25px;
    font-size: medium;
    margin-top: -4px;
    padding-top: 5px;
    color: white;
    background-color: royalblue;
    border-radius: 5%;
}
.list{
    width: 80%;
    padding-left: 15px;
    margin-top: -10px;
    font-size: small;
}
.list li{
    list-style: none;
    text-align: left;
    padding-left: 10px;
    border-bottom: 1px solid grey;
}
.list li a {
    text-decoration: none;
}
.image img{
    position: absolute;
    width: 73.5%;
    height: 50%;
    display: block;
    margin: 0px auto;
    border-radius: 0px 0px 40px 0px;
}
.image h1{
    position: absolute;
    color: rgb(235, 47, 163);
    margin: 18% 0% 0% 45%;
}
.menu{
    padding: 0px;
    margin-top: 56%;
}
.menu li {
    position: relative;
    background-color: royalblue;
    float: left;
    padding: 10px 45px 10px 45px;
    list-style: none;
    
}
.menu li a{
    text-decoration: none;
    color: wheat;
}
.content2{
    position: relative;
    height: 300%;
    margin-top: 64%;
    border: 2px solid rgb(218, 215, 215);
    border-radius: 1%;
    background-color: aqua;
}
.content2 h2{
    color: rgb(37, 101, 238);
    margin-left: 15px;
}
.content2 p{
    margin-left: 30px;
}
.img{
    border: 1px solid gainsboro;
    padding: 10px;
    float: left;
    width: 140px;
    /* margin-bottom: 10px;
    margin-top: 20px;
    margin-right: 30px;
    margin-left: 30px; */
}
.img img{
    width: 100%;
    height: 175px;
    display: block;
}
.img p{
    margin: 5px 0px 1px 0px;
    font-family: sans-serif;
    font-size: 12px;
}
.filter{
    margin-left: 40px;
}
.sort{
    margin-left: 40px;
}
.footer{
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: royalblue;
    line-height: 50px;
    position: fixed;
    color: wheat;
    text-align: center;
}